.card {
	border-radius: 25px;
	margin: 10px;
	padding: 0;
}

.card.selected {
	border-radius: 25px;
	margin: 0;
	padding: 0;
	transform: scale(1.05);
}

.card-image {
	max-width: 100%;
	border-radius: 25px;
	width: auto;
	height: auto;
	padding: 0px;
}

/* .card-button {
	border-radius: 25px;
	margin: 0;
	padding: 0;
}

.card .is-selected{
	border-radius: 25px;
	margin: 0;
	padding: 0;
	transform: scale(2);
} */

button:focus {
	outline: none;
}
