.contactForm {
    width: 300px;
    margin: 2em;
  }
  
  .contactForm Input {
    padding: 5px;
    margin: 5px;
  }

  .contactForm Select {
    padding: 5px;
    margin: 5px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }